.quiz-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background: #4e2121;
  border-radius: 8px;
}

.quiz h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: yellow;
}

.quiz ul {
  list-style-type: none;
  padding: 0;
}

.quiz ul li {
  background: #9e880e;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  color: black;
}

.quiz ul li:hover {
  background-color: #862424;
}

.quiz-result h2 {
  font-size: 26px;
  color: green;
}

.quiz-result p {
  font-size: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: rgb(140, 29, 150);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
